@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif, ;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

h1  {
    background-color:#19647e ;
    padding: 50px;
    margin: 0px 0px;
    color: #eee5e5;
    text-align: center;
    

}
