body {
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;

}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
}