a {
    text-decoration: none;
    color: black;
}
a :visited {
    color: black;
}

.item {
    width: 200px;
    height: 100px;
    
}
.message {
    display: none;

}
.message.show {
display: block;

width: 400px;
height: 50x;
background-color: #800000;
color: white; 
font-size: 50px;
text-align: center;
padding: 75px;
position: absolute;
top: 300px;
left: 500px;
}


.plant1 {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant1:hover {
    animation-play-state: running;
}

@keyframes shake {
    100% {
        transform: rotate(5deg);
      }
}

.plant2 {
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant2:hover {
    animation-play-state: running;
}

@keyframes shake {
    100% {
        transform: rotate(5deg);
      }
}

.plant3 {
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant3:hover {
    animation-play-state: running;
}

@keyframes shake {
    100% {
        transform: rotate(5deg);
      }
}

.plant4 {
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant4:hover {
    animation-play-state: running;
}

@keyframes shake {
    100% {
      transform: rotate(5deg);
    }
    
}

.plant5 {
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant5:hover {
    animation-play-state: running;
}

@keyframes heartbeat {
    100% {
      transform: rotate(5deg);
    }
    
}

.plant6 {
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-name: shake;
    animation-play-state: paused;

}

.plant6:hover {
    animation-play-state: running;
}

@keyframes shake {
    100% {
      transform: rotate(5deg);
    }
}


